<div class="bottom-nav bg-primary-0 fixed bottom-0 left-0 w-full h-auto shadow-custom py-2">
    <div class="container min-h-auto ">
        <div class="bottom-nav-main">
            <ul class="flex items-center justify-between gap-3">
                <li class="w-full text-center flex gap-1 justify-center flex-col py-1 px-1">
                    <div class="icon">
                        <img src="/images/svg/home.svg" alt="" class="w-5 h-5 m-auto">
                    </div>
                    <div class="text">
                        <span class="font-satoshi font-medium text-xs text-primary-0.5">Home</span>
                    </div>
                </li>
                <li class="w-full text-center flex gap-1 justify-center flex-col py-1 px-1">
                    <div class="icon">
                        <img src="/images/svg/post.svg" alt="" class="w-5 h-5 m-auto">
                    </div>
                    <div class="text">
                        <span class="font-satoshi font-medium text-xs text-primary-0.5">Post</span>
                    </div>
                </li>
                <li class="w-full text-center flex gap-1 justify-center flex-col py-1 px-2">
                    <div class="icon">
                        <img src="/images/svg/user.svg" alt="" class="w-5 h-5 m-auto">
                    </div>
                    <div class="text">
                        <span class="font-satoshi font-medium text-xs text-primary-0.5">Account</span>
                    </div>
                </li>
                <li class="w-full text-center flex gap-1 justify-center flex-col py-1 px-2">
                    <div class="icon">
                        <img src="/images/svg/setting.svg" alt="" class="w-5 h-5 m-auto">
                    </div>
                    <div class="text">
                        <span class="font-satoshi font-medium text-xs text-primary-0.5">Setting</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>