<div class="logout-modal-box h-screen max-w-[450px] w-full fixed  left-0 right-0 mx-auto z-[170]" id="modal-1">
    <div class="logout-modal-main h-full flex flex-col items-center justify-between">
        <div class="logout-modal-top grow p-[20px] w-full flex items-center">
            <div class="logout-card w-full bg-primary-0 text-center py-[40px] px-[25px] rounded-[10px] relative">
                <h4 class="font-satoshi text-primary-17 font-medium text-[18px]/[25px] max-w-[150px] mx-auto">Do you
                    want to
                    Log out? </h4>
                <div class="logout-card-btn mt-[20px]">
                    <ul class="flex justify-center items-center gap-[10px]">
                        <li><button
                                class="font-satoshi bg-primary text-primary-0 font-medium border border-solid border-primary w-[70px] h-[36px] rounded-[5px]">Yes</button>
                        </li>
                        <li><button
                                class="font-satoshi text-primary font-medium border border-solid border-primary w-[70px] h-[36px] rounded-[5px]">No</button>
                        </li>
                    </ul>
                </div>
                <div class="logout-cross-bar ">
                    <img class="w-[15px] h-[15px] absolute top-[10px] right-[10px] modal-close cursor-pointer"
                        src="/images/svg/cross.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay h-screen max-w-[450px] w-full bg-primary-16 fixed top-0 left-0 right-0 mx-auto z-[150]"></div>