<a href="matchDetails.html">
    <div class="match-card relative bg-primary-0 px-[24px] pt-[20px] pb-[35px] rounded-[30px] mb-[30px] shadow-custom-4">
    <div class="match-card-top flex items-center justify-between mb-[20px]">
        <div class="match-card-top-left">
            <h4 class="font-satoshi text-[16px]/[24px] font-bold not-italic text-primary-10">Live Match</h4>
        </div>
        <div class="match-card-top-right">
            <button
                class="bg-primary-13 py-[4px] px-[10px] font-satoshi text-primary-10 font-bold text-[14px]/[20px] rounded-[12px] flex gap-[3px] items-center justify-center">
                <span class="w-[6px] h-[6px] bg-primary rounded-full"></span> Live</button>
        </div>
    </div>

    <div class="match-card-body flex justify-between items-center gap-[20px]">
        <div class="match-country text-center w-full">
            <img src="/images/png/AFG 1.png" class="w-[50px] h-[27px] mx-auto mb-[4px]" alt="">
            <span class="font-satoshi block text-[14px]/[18px] font-bold not-italic text-primary-10">AFG</span>
            <span class="font-satoshi text-[14px]/[18px] font-bold not-italic text-primary-10">1</span>
        </div>

        <div class="match-vs min-w-[60px] h-[100%] ">
            <span
                class="bg-primary-10 relative top-[-15px] w-[36px] h-[36px] flex items-center justify-center rounded-full mx-auto text-primary-0 font-satoshi tyext-[13px]/[18px]">
                VS
            </span>
        </div>

        <div class="match-country w-full text-center">
            <img src="/images/png/ARG.png" class="w-[50px] mx-auto h-[27px] mb-[4px]" alt="">
            <span class="font-satoshi block text-[14px]/[18px] font-bold not-italic text-primary-10">ARG</span>
            <span class="font-satoshi text-[14px]/[18px] font-bold not-italic text-primary-10">2</span>
        </div>
    </div>

    <div class="match-card-btn">
        <button
            class="bg-primary absolute bottom-[-14px] left-0 right-0 mx-auto py-[8px] px-[20px] max-w-[100px] rounded-[12px] text-primary-0 font-satoshi font-medium text-[15px]/[20px]">View
            All </button>
    </div>

</div>
</a>