<div class="filter-area fixed  left-0 right-0 max-w-[450px] w-full mx-auto bg-primary-0 z-[170] pt-[20px] px-[25px] rounded-b-[20px]" id="modal-1" >
    <div class="filter-area-main">
        <div class="filter-top flex items-center justify-between gap-[10px] mb-[28px]">
            <div class="filter-top-left">
                  <h3 class="text-primary-10 text-[22px]/[36px] font-satoshi font-bold not-italic">Filter</h3>
            </div>
            <div class="filter-top-right modal-close cursor-pointer">
                   <img style="w-[25px] h-[25px]" src="/images/svg/cross.svg" alt="">
            </div>
        </div>
        <div class="filter-body mb-[56px]">
               <div class="filter-title mb-[20px]">
                    <h4 class="font-satoshi text-primary-10 font-medium not-italic text-[16px]/[24px]">Category</h4>
               </div>
               <div class="filter-body-main">
                     <ul class="flex flex-wrap items-center justify-start gap-x-[10px] gap-y-[15px] sm:gap-y-[20px] sm:gap-x-[16px]">
                          <li class="grow"><button class="bg-primary w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-0 font-medium">Funny</button></li>
                          <li class="grow"><button class="bg-primary-0.1 w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-1 font-medium">Best Goals</button></li>
                          <li class="grow"><button class="bg-primary-0.1 w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-1 font-medium">Insane Headshots</button></li>
                          <li class="grow"><button class="bg-primary-0.1  w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-1 font-medium">Walk-Off Wins</button></li>
                          <li class="grow"><button class="bg-primary w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-0 font-medium">Trick Shots</button></li>
                          <li class="grow"><button class="bg-primary-0.1 w-full font-satoshi not-italic h-[40px] flex items-center justify-center rounded-[20px] px-[12px] text-[14px]/[20px] text-primary-1 font-medium">Catches</button></li>
                     </ul>
               </div>
        </div>
        <div class="filter-bottom">
               <ul>
                   <li><button class="bg-primary w-full text-primary-0 font-satoshi font-medium text-[16px]/[20px] h-[50px] rounded-[20px]">Apply</button></li>
                   <li><button class="bg-primary-0 w-full text-primary-0.5 font-satoshi font-medium text-[16px]/[20px] h-[56px] rounded-[20px]">Reset filters</button></li>
               </ul>
        </div>
    </div>

</div>
<div class="overlay h-screen max-w-[450px] w-full bg-primary-16 fixed top-0 left-0 right-0 mx-auto z-[150]"></div>