<section class="initial-step h-full"><!-- Start initial step -->
    <header class="page-header text-center mt-[30px]">
        <h1 class="text-[38px] font-bold text-[#027eff] leading-[38px]">주요 제목은 여기</h1>
        <h2 class="text-[32px] font-medium text-[#000000]">"주요 부제목은 여기"</h2>
    </header>
    <div class="page-bg flex justify-center my-[30px]">
        <img class="w-full h-auto" src="https://placehold.co/400x400" alt="Title">
    </div>
    <div class="text-center">
       <h2 class="text-[16px] font-medium text-[#000000]">나는 어떤 대통령(지도자)과 <br/>비슷한 유형일지 지금, 확인해보세요.</h2>
    </div>
    <footer class="my-[20px] block">
        <a class="bg-[#027eff] border-[3px] border-[#027eff] w-full max-w-[260px] rounded-[30px] p-[10px] text-center text-white block mx-auto text-[25px] hover:bg-transparent hover:text-[#027eff] mb-[50px]" href="#">테스트 시작!</a>
        <a class="hover:bg-[#027eff] border-[3px] border-[#027eff] w-full max-w-[260px] rounded-[30px] p-[10px] text-center hover:text-white block mx-auto text-[25px] bg-transparent text-[#027eff]" href="#">결과 공유하기</a>
    </footer>
</section><!-- End initial step -->