<section class="step step-item" data-step="q1" data-title="Question 01"><!-- Start Step -->
    <div class="max-w-[440px] px-[20px] mx-auto">
        <div class="step-header grid grid-cols-2 mb-8">
            <h2 class="text-[#000000] font-bold text-[49px]">Q1.</h2>
            <div class="flex justify-end">
                <span class=" flex-none mb-6 text-[20px] mt-4">1/12</span>
            </div>
        </div>
        <div class="text-center mb-[60px]">
            <p class="font-bold text-[17px]">새로 나온 라면을 먹었는데별로일 경우 당신은?</p>
        </div>
        <div class="step-content">
            <ul class="choice-list">
                <li><a data-value="value01" href="javaScript:void(0)">SNS나 가족이나 친구에게얘기하며 생각을 공유한다.</a></li>
                <li><a data-value="value02" href="javaScript:void(0)">굳이 주위 사람들에게 털어놓지 않고혼자서 생각하는 편이다.</a></li>
            </ul>
        </div>
        <div class="flex justify-center my-[20px]">
            <img class="max-w-full h-auto" src="https://placehold.co/240x162" alt="">
        </div>
    </div>
</section><!-- End Step -->