<section class="result-content-container"><!-- Start Result content Container -->
    <div class="page-header text-center py-[40px]">
        <h1 class="font-bold text-[23px] text-white">나와 비슷한<br/>대통령(지도자)은... 바로!</h1>
    </div>
    <div class="flex justify-center">
        <img class="max-w-full h-auto" src="https://placehold.co/240x240" alt="Title here">
    </div>
    <div class="result-message text-center mt-[30px] max-w-[240px] mx-auto"><!-- Result Message -->
        <div class="border-b-4 border-[#2979ff] mb-[10px]">
            <h2 class="text-white font-medium text-[30px]">이낙연 대통령 예비후보</h2>
        </div>
        <div class="flex gap-3 justify-center items-center text-[16px] text-white mb-[10px]">
            희귀성:<span class="block text-[50px] text-[#eb1414] font-medium">10%</span>
        </div>
        <div class="result-title">
            <p class="text-white text-[16px] font-bold">"정치인들의 입을 보지말고 움직이는 발을보세요. 우리는 진심을 담아 움직이고 있습니다."</p>
        </div>
    </div><!-- End Result Message -->
    <div class="result-content my-[20px] max-w-[330px] mx-auto">
        <p class="text-white text-[16px] text-justify">
            특유의 밝음으로 쾌활한 삶을 사는 당신은 세상을 따뜻하게 바라보는 시선을 갖고있습니다. 적극적이고 활동적인 당신의 행동 하나하나가 주위의 분위기를 고조시키기 때문에 대의를 이루기에 적합하다고나 할까요? 사려 깊은 당신은 주변사람들의 감정또한 섬세하게 파악합니다. 이런 꼼꼼함과 인내심이 지금의 강한 당신을 만들어 주었군요. 하지만, 도를 지나치는 문제에 대해서는 참지않고 매우 강경하게 대응하는 편입니다. 너무 걱정하지마세요! 당신의 뜻에 동감하고 도와줄 주변의 조력자가 많은 스타일이기 때문에 어려운 역경도 반드시 헤쳐나갈 수 있을 겁니다. 사람을 매료시키는 매력이 있는 당신은 이낙연 후보와 비슷한 스타일입니다!
            <br/>
            <br/>
            이런 정책을 신청해 보세요.
            <br/>
            <br/>
            <a href="#">👉국민취업지원제도</a>
            <br/>
            <br/>
            <a href="#">👉근로장려금과 휴가지원제도</a>
        </p>
    </div>
    <div class="result-feature-box max-w-[330px] mx-auto pt-[10px]">
        <div class="flex justify-center gap-4">
            <div class="box-item bg-white rounded-[20px] py-[20px] px-[10px] text-center">
                <h3 class="text-[17px] mb-[10px]">나와 맞는 유형</h3>
                <img class="rounded-[100%] font-bold border-4 border-[#2979ff]" src="https://placehold.co/180x180" alt="name">
                <span class="block mt-[10px] font-bold text-[17px] border-b-4 border-[#2979ff]">박정희 대통령</span>
            </div>
            <div class="box-item bg-white rounded-[20px] py-[20px] px-[10px] text-center">
                <h3 class="text-[17px] mb-[10px]">나와 맞는 유형</h3>
                <img class="rounded-[100%] font-bold border-4 border-[#eb1414]" src="https://placehold.co/180x180" alt="name">
                <span class="block mt-[10px] font-bold text-[17px] border-b-4 border-[#eb1414]">박정희 대통령</span>
            </div>
        </div>
    </div>
    <div class="btn-wrap max-w-[330px] mx-auto my-[40px]">
        <a class="hover:bg-[#027eff] border-[3px] border-[#027eff] w-full rounded-[30px] p-[10px] text-center hover:text-white block mx-auto text-[18px] bg-white text-[#027eff]" href="#">
            테스트 결과를 불편함 앱에 공유하고<br/>
            애플워치 받으러가기
        </a>
    </div>
    <div class="flex justify-center mb-[40px]">
        <img class="w-full h-auto" src="https://placehold.co/600x400" alt="">
    </div>
    <!-- TODOLIST : Social Icon(COPY link to clipboard, facebook, linkedin, kakaotalk)-->
    <div class="social-area w-full pb-[40px]">
        <span class="text-center block text-white text-[14px] w-full mb-[20px]">테스트 링크 공유하기</span>
        <div class="flex gap-4 justify-center w-full">
            <a class="block flex-none" onclick="share_facebook()" href="javaScript:void(0)">
                <img class="w-[48px] h-auto" src="../images/facebook_icon.png" alt="facebook">
            </a>
            <a class="block flex-none" onclick="share_linkedin()" href="javaScript:void(0)">
                <img class="w-[48px] h-auto" src="../images/linkedin_icon.png" alt="linkedin">
            </a>
            <a class="block flex-none" onclick="share_kakaotalk()" href="javaScript:void(0)">
                <img class="w-[48px] h-auto" src="../images/kakaotalk_icon.png" alt="kakaotalk">
            </a>
        </div>
    </div>
</section><!-- End Result content Container -->