<div class="container h-screen bg-primary-0 pb-[75px]">
    <div class="back-area max-w-[450px] mx-auto relative px-[28px] pt-[20px] pb-[10px]  bg-primary-0">
        <div class="back-area-icon absolute left-[28px] top-[20px]">
           <a href="liveMatch.html"> <img class="w-6 h-6 cursor-pointer" src="/images/svg/left-angle.svg" alt=""></a>
        </div>
        <div class="back-area-text w-full text-center">
            <h3 class="font-satoshi font-bold text-20/[23px] text-primary-10">Settings</h3>
        </div>
    </div>

    <div class="section-account pb-4 px-[28px] pt-[4px] h-[calc(100vh-137px)] overflow-y-auto no-scrollbar">
        <div class="section-account-main">
            <div class="user-profile">
                {{> components/user_profile}}
            </div>{{!--END ACCOUNT PROFILE--}}
            <div class="account-menu mt-[60px]">
                <ul>
                    <li class="mb-5">
                        <a href="#"
                            class="flex items-center h-[52px] justify-between bg-primary-0.1 py-3 px-5 font-satoshi font-medium text-sm/[20px] text-primary-10 rounded-3xl">
                            <span class="flex items-center justify-start gap-4"><img class="w-5 h-5"
                                    src="/images/svg/inquiry.svg" alt=""> Inquiry</span>
                            <img class="w-5 h-5" src="/images/svg/arrow-right.svg" alt="">
                        </a>
                    </li>

                    <li class="mb-5">
                        <a href="noticeList.html"
                            class="flex items-center h-[52px] justify-between bg-primary-0.1 py-3 px-5 font-satoshi font-medium text-sm/[20px] text-primary-10 rounded-[20px]">
                            <span class="flex items-center justify-start gap-4"><img class="w-5 h-5"
                                    src="/images/svg/notice.svg" alt=""> Notice</span>
                            <img class="w-5 h-5" src="/images/svg/arrow-right.svg" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="resetPassword.html"
                            class="flex items-center h-[52px] justify-between bg-primary-0.1 py-3 px-5 font-satoshi font-medium text-sm/[20px] text-primary-10 rounded-[20px]">
                            <span class="flex items-center justify-start gap-4"><img class="w-5 h-5"
                                    src="/images/svg/reset_password.svg" alt=""> Reset password</span>
                            <img class="w-5 h-5" src="/images/svg/arrow-right.svg" alt="">
                        </a>
                    </li>

                </ul>
                <div class="log-out-btn mt-[80px]">
                    <a data-modal="modal-1"
                        class="text-center cursor-pointer h-[56px] flex items-center justify-center w-full bg-primary-0.4 py-3 px-5 font-satoshi font-bold text-base/[20px] text-primary-10 rounded-[20px]">Log
                        out</a>
                </div>
            </div>{{!--END ACCOUNT MENU--}}
        </div>
    </div>

    <div class="bottom-nav">
        {{> components/bottom_nav}}
    </div>{{!--END ACCOUNT BOTTOM NAV--}}
    <div class="modal">
        {{> components/logout_modal}}
    </div>{{!--END LOGOUT MODAL AREA--}}
</div>