<div class="container min-h-screen bg-primary-0">
    <div class="back-area pb-4 pt-[30px] px-[15px]">
        <div class="back-area-icon">
            <img class="w-6 h-6 cursor-pointer" src="/images/svg/left-angle.svg" alt="">
        </div>
    </div>
    <div class="forgot-section mt-[50px]  px-[15px]">
          <div class="forgot-title mb-[46px] text-center">
                <h3 class="font-satoshi font-bold not-italic text-[24px]/[30px] mb-[10px]">Forget Password?</h3>
                <p class="text-primary-1 text-base font-satoshi font-medium not-italic">Enter your email or phone number</p>
          </div>

          <div class="forgot-form-area">
                <form action="">
                       <div class="form-input mb-6">
                          <input type="email" placeholder="Phone or Email" class="bg-primary-0.1  w-full py-1 flex items-center justify-center h-[50px] px-3 text-center font-satoshi font-medium text-base  rounded-[20px] outline-none">
                       </div>
                       <div class="sub-btn">
                           <button class="bg-primary-0.4 py-1 rounded-[20px] px-3 flex items-center justify-center h-[56px] font-satoshi font-bold text-primary-10 w-full text-base">Continue</button>
                       </div>
                </form>
          </div>
    </div>
</div>