<div class="container min-h-screen  bg-primary-0">
    <div class="section">
        <div class="section-top text-right pt-[20px] pr-[27px] mb-[28px]">
            <span class="font-satoshi font-bold text-primary block cursor-pointer text-[15px]/[20px]">Skip</span>
        </div>
        <div class="section-main">

            <div class="carousel">
                {{> components/carousels/carousel}}
            </div>


            <div class="section-body py-[28px] sm:px-7 px-4 text-center">
                <h3 class="font-satoshi font-bold not-italic text-primary-10 text-26/[44px] mb-[12px]">Next to view live
                    scores</h3>
                <p class="text-primary-1 text-[14px]/[20px] font-medium font-satoshi max-w-[280px] m-auto">In-depth
                    coverage of
                    Soccer, basketball, baseball, E-sport Livescore keeps you well informed of live
                    scores</p>
                <a href="signIn.html"
                    class="text-base/[20px] mt-[28px] bg-primary h-[56px] flex items-center justify-center w-full text-primary-0 font-satoshi font-bold py-3 px-4 rounded-[20px]">
                    Next
                </a>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
    const swiper = new Swiper('.swiper', {
        loop: true,
        slidesPerView: 1.5,
        spaceBetween: 10,
        grabCursor: true,
        loop: true,
        centeredSlides: true,
        effect: "coverflow",
        coverflowEffect: {
            rotate: 35,
            stretch: 0,
            depth: 60,
            modifier: 1,
            slideShadows: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        }

    });
</script>