<main class="body-panel" role="main"><!-- Start Body Panel -->
    <div class="max-w-[440px] px-[20px] mx-auto">
        {{!-- {{> steps/initial_step }} --}}
    </div>
</main><!-- End Body Panel -->
