<div class="container min-h-screen bg-primary-0">
    <div class="back-area max-w-[450px] mx-auto w-full flex items-center justify-start bg-primary-14">
        <div class="container py-[10px] px-[20px] ">
            <div class="back-area-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.3248 5.00852C18.5436 5.2273 18.6664 5.52399 18.6664 5.83335C18.6664 6.14271 18.5436 6.4394 18.3248 6.65818L10.983 14L18.3248 21.3418C18.5374 21.5619 18.655 21.8566 18.6523 22.1625C18.6496 22.4684 18.5269 22.761 18.3106 22.9773C18.0943 23.1936 17.8017 23.3163 17.4958 23.319C17.1899 23.3216 16.8952 23.204 16.6752 22.9915L8.50852 14.8248C8.2898 14.6061 8.16693 14.3094 8.16693 14C8.16693 13.6907 8.2898 13.394 8.50852 13.1752L16.6752 5.00852C16.894 4.7898 17.1907 4.66693 17.5 4.66693C17.8094 4.66693 18.1061 4.7898 18.3248 5.00852Z"
                        fill="white" />
                </svg>
            </div>
        </div>
    </div>

    <div class="match-details-area">
        <div class="match-details-main">
            <div class="match-details-top">
                <div class="match-details-img">
                    <img class="w-full block object-contain" src="/images/png/details.png" alt="">
                </div>

                <div class="match-details-tab bg-primary-0 shadow-custom-5 px-[19px] pt-[6px]">
                    <ul class="flex items-center justify-between gap-[30px]">
                        <li><button
                                class="font-satoshi text-[12px]/[24px]  uppercase font-bold text-primary not-italic pb-[10px] border-b-[2px] border-solid border-primary">Chat</button>
                        </li>
                        <li><button
                                class="font-satoshi text-[12px]/[24px]  uppercase font-bold text-primary-1 not-italic pb-[10px] border-b-[2px] border-solid border-transparent">Overview</button>
                        </li>
                        <li><button
                                class="font-satoshi text-[12px]/[24px] uppercase font-bold text-primary-1 not-italic pb-[10px] border-b-[2px] border-solid border-transparent">Line-Ups</button>
                        </li>
                        <li><button
                                class="font-satoshi text-[12px]/[24px] uppercase font-bold text-primary-1 not-italic pb-[10px] border-b-[2px] border-solid border-transparent">Predictions</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="match-details-body px-[20px] py-[10px] h-[calc(100vh-464px)] overflow-y-auto no-scrollbar">
                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment mb-[16px]">
                    <div class="comment-main flex items-center justify-start gap-[8px]">
                        <div class="user  min-w-[40px] ">
                            <span
                                class=" font-satoshi font-bold text-primary-10 text-[14px]/[20px] w-[40px] h-[40px] flex items-center justify-center  border border-solid border-primary-15 rounded-full">AB</span>
                        </div>
                        <div class="comment-body w-full">
                            <div class="comment-body-top flex justify-between items-center">
                                <h3 class="text-primary-1 font-bold font-satoshi text-[16px]/[24px] not-italic">성현 편
                                </h3>
                                <span class="text-primary-10 font-bold font-satoshi text-[14px]/[24px] not-italic">7 s
                                    ago</span>
                            </div>
                            <div class="comment-body-bottomn">
                                <p class="text-primary-1 font-bold font-satoshi text-[14px]/[24px] not-italic">What a
                                    goal by Carrasco!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-form">
        <form action="#" class="max-w-[450px] mx-auto w-full bg-primary-0.6 border-t border-solid border-primary-0.8 ">
            <div class="form-main flex justify-start items-center">
                <div class="form-input w-full">
                    <input
                        class="w-full bg-primary-0.7 outline-none border-none font-satoshi not-italic text-sm font-medium py-3 px-4 text-primary-10"
                        type="text" placeholder="Comment">
                </div>
                <div class="form-icon">
                    <button class="bg-primary-0.7 w-10 mi-w-10 py-3 flex justify-center items-center"><img
                            src="/images/svg/smile.svg" alt=""></button>
                </div>
            </div>
        </form>
    </div>
</div>