<div class="container min-h-screen bg-primary-0">
    <div class="back-area fixed top-0 left-0 w-full py-4 px-5 sm:px-6 flex items-center justify-center bg-primary-0">
        <div class="back-area-icon absolute left-4 top-4">
            <a href="noticeList.html"><img class="w-6 h-6 cursor-pointer" src="/images/svg/left-angle.svg" alt=""></a>
        </div>
        <div class="back-area-text w-full text-center">
            <h3 class="font-satoshi font-bold text-20/[23px] text-primary-10">Notice Details</h3>
        </div>
    </div>

    <div class="section-details pb-4 px-4 sm:px-6 pt-20">
        <div class="section-details-main">

            <div class="notice-details-img mb-3">
                <img class="block w-full rounded-xl" src="/images/png/notice_details.png" alt="">
            </div>
            <div class="notice-details-title flex justify-between items-start gap-3 mb-4">
                <div class="notice-details-title-left">
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow
                        the manufacture</h3>
                </div>
                <div class="notice-details-title-right">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">24/09/2023</span>
                </div>
            </div>
            <div class="notice-details-description-area">
                <p class="font-satoshi font-medium not-italic text-primary-1 text-sm/[27px] mb-4">For general cleaning:
                    Mix a few drops of mild soap
                    with water. Dampen a cloth with the solution and
                    wipe the sofa.For stubborn stains: Use a specialize-
                    d leather cleaner following the manufacturer's
                    instructions.</p>

                <p class="font-satoshi font-medium not-italic text-primary-1 text-sm/[27px] mb-4">For general cleaning:
                    Mix a few drops of mild soap
                    with water. Dampen a cloth with the solution and
                    wipe the sofa.For stubborn stains: Use a specialize-
                    d leather cleaner following the manufacturer's
                    instructions.</p>

                <p class="font-satoshi font-medium not-italic text-primary-1 text-sm/[27px] mb-4">For general cleaning:
                    Mix a few drops of mild soap
                    with water. Dampen a cloth with the solution and
                    wipe the sofa.For stubborn stains: Use a specialize-
                    d leather cleaner following the manufacturer's
                    instructions.</p>

                <p class="font-satoshi font-medium not-italic text-primary-1 text-sm/[27px] mb-4">For general cleaning:
                    Mix a few drops of mild soap
                    with water. Dampen a cloth with the solution and
                    wipe the sofa.For stubborn stains: Use a specialize-
                    d leather cleaner following the manufacturer's
                    instructions.</p>
            </div>

        </div>
    </div>
    <div class="gradient-shape bg-bottom-gradient w-full fixed bottom-0 left-0 h-11"></div>
</div>