<div class="container min-h-screen bg-primary-0">
    <div class="back-area fixed top-0 left-0 w-full py-4 px-5 sm:px-6 flex items-center justify-center bg-primary-0">
        <div class="back-area-icon absolute left-4 top-4">
            <img class="w-6 h-6 cursor-pointer" src="/images/svg/left-angle.svg" alt="">
        </div>
        <div class="back-area-text w-full text-center">
            <h3 class="font-satoshi font-bold text-20/[23px] text-primary-10">Notice List</h3>
        </div>
    </div>

    <div class="section-list pb-4 px-4 sm:px-6 pt-20">
        <div class="section-list-main">
            <div
                class="list-card mb-4 bg-primary-0 rounded-20  sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

            <div
                class="list-card mb-4 rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>
            <div
                class="list-card mb-4 rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

            <div
                class="list-card mb-4 rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

            <div
                class="list-card mb-4 rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

            <div
                class="list-card mb-4 rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body ">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

            <div
                class="list-card  rounded-20 bg-primary-0 sm:p-5 p-4 flex items-center justify-start gap-3 shadow-custom-1">
                <div class="list-card-img">
                    <img class="rounded-lg min-w-20" src="/images/png/list1.png" alt="">
                </div>
                <div class="list-card-body">
                    <span class="font-satoshi font-medium not-italic text-primary-1 text-sm">22/09/2023</span>
                    <h3 class="font-satoshi font-medium not-italic text-18/[23px] text-primary-10">It's important to
                        follow the manufacturer's </h3>
                </div>
            </div>

        </div>
    </div>

    <div class="gradient-shape bg-bottom-gradient w-full fixed bottom-0 left-0 h-11"></div>
    

</div>