<div class="container h-screen bg-primary-0">
    <div class="back-area max-w-[450px] mx-auto w-full relative px-[25px] py-[15px] flex items-center justify-center bg-primary-0">
        <div class="back-area-icon absolute left-[28px] top-[15px]">
            <a href="account.html"><img class="w-6 h-6 cursor-pointer" src="/images/svg/left-angle.svg" alt=""></a>
        </div>
        <div class="back-area-text w-full text-center">
            <h3 class="font-satoshi font-bold text-20/[23px] text-primary-10">Notice List</h3>
        </div>
    </div>


    <div class="section-list  px-[25px] pt-[12px] pb-[20px] h-[calc(100vh-53px)] overflow-y-auto no-scrollbar">
        <div class="section-list-main">
        {{> components/notice_card}}
        </div>
    </div>

    <div class="gradient-shape bg-bottom-gradient w-full fixed bottom-0 left-0 h-11"></div>
    

</div>