<main id="result-page" class="main-body-panel w-full h-full" role="main"><!-- Start Main Body Panel -->
    <div class="max-w-[440px] px-[20px] mx-auto">
        {{> steps/result }}
    </div>
</main><!-- End Main Body Panel -->