<div class="container min-h-screen bg-primary-0">
    <div class="sign-up-banner relative z-0">
        <div class="sign-up-banner-main">
            <img class="w-full object-contain mx-auto" src="/images/png/sign-in-banner.png" alt="">
        </div>
    </div><!--END SIGN UP BANNER AREA --->

    <div class="sign-in-area shadow-md bg-primary-0 relative pt-[40px] top-1 z-11" >
        <div class="sign-up-area-title  px-[28px] mb-[30px]">
            <h3 class="font-satoshi font-bold not-italic text-26/[44px]">Sign in</h3>
        </div>
        <div class="sign-form-area">
            <form action="">
                <div class="form-input-area  px-[28px]">
                    <div class="form-input">
                        <input type="email" class=" py-4 outline-none text-base font-medium not-italic block w-full font-satoshi text-primary-1 border-b border-primary-0.5 border-solid" placeholder="Email">
                    </div>
                    <div class="form-input">
                        <input type="password" class=" py-4 outline-none text-base font-medium not-italic block w-full font-satoshi text-primary-1 border-b border-primary-0.5 border-solid" placeholder="Password">
                    </div>
                </div>
                <div class="submit-area flex gap-[49px] justify-between items-center pl-[28px] mt-[40px]">
                    <div class="social-login">
                        <ul class="flex justify-start items-center gap-[16px]">
                            <li><img class="min-w-11 h-11 cursor-pointer" src="/images/svg/google.svg" alt=""></li>
                            <li><img class="min-w-11 h-11 cursor-pointer" src="/images/svg/facebook.svg" alt=""></li>
                            <li><img class="min-w-11 h-11 cursor-pointer" src="/images/svg/apple.svg" alt=""></li>
                        </ul>
                    </div>
                    <div class="sub-btn w-full">
                        <button
                            class="border-0 outline-none py-1 flex items-center justify-center h-[56px] px-8 bg-primary text-primary-0 font-satoshi font-medium rounded-s-[20px] w-full cursor-pointer text-[16px]/[20px]">Sign
                            in</button>
                    </div>
                </div>

                <div class="create-account mt-[64px] flex justify-between items-center pb-[40px]   px-[28px]">
                     <a href="#" class="text-primary-1 text-base font-satoshi font-bold not-italic">Sign Up</a>
                     <a href="#" class="text-primary text-base font-satoshi font-bold not-italic">Forgot password</a>
                </div>
            </form>
        </div>
    </div>
</div>