<main class="body-panel my-8" role="main"><!-- Start Body Panel -->
    <div class="steps test-steps overflow-hidden">
        <div class="relative w-full">
            <div id="steps-slide" class="step-wrap flex">
                {{> steps/q1 }}
                {{> steps/q2 }}
            </div>
        </div>
    </div>
</main><!-- End Main Body Panel -->