     <div class="section-slide-area">
                <div class="swiper w-full h-full">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide-img">
                                <img src="/images/png/slide.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-img">
                                <img src="/images/png/slide.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-img">
                                <img src="/images/png/slide.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>